.MenuSelecao{
    border-radius: 10px;
    
    padding-top: 350px;
    width: 12%;
    background-color:hsl(183, 100%, 92%); /* Apenas para visualização, pode remover */
    height: 92.5vh;
 
}


.MenuSelecao button{
    background-color: #3c4e7a;
    color: white;
}