.Display{
    border-radius: 10px;
    padding: 10px; /* Espaçamento interno opcional */
    width: 88%;
    background-color:#d4fdff; /* Apenas para visualização, pode remover */
    height: 92.5vh;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}

.task-list{
    color: #d4fdff; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    background-color: #6a79a9;
    padding: 2px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #3c4e7a;
}

.task-list table{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.task-list table tr th{
    height: 56px;
    font-weight: 16px;
    letter-spacing: .25px;
    text-align: left;
    padding: 0 10px;
}

.task-list table tr.item td{
    border-bottom: 1px solid white; 
    padding: 0 10px;
}

.task-list table tr.item{
    height: 60px;
}

.task-list table tr td{
    vertical-align: middle;
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
    
}

.task-list tr td button{
    padding: 8px;
    margin: 0;
    text-align: center;
    vertical-align: center;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 6px;
    color: white;
}


.task-list tr .botao-apagar{
    align-items: center;
    vertical-align: center;
    text-align: center;
}

.create-task{
    color: white;
}